@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-page {
  font-family: 'Open Sans', sans-serif;
  background-color: #7f5a83;
  background-image: linear-gradient(300deg, #7f5a83 40%, #0d324d 74%);
  height: 100vh;
  overflow: scroll;
}

.landing-page::-webkit-scrollbar {
  display: none;
}

.landing-page .innerpage {
  border-radius: 10px;
  margin: 0 auto;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5em;
}

.landing-page .innerpage .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-page .innerpage .content .todo-img {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.landing-page .innerpage .content .text {
  max-width: 50em;
}

.landing-page .innerpage .content .text .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 1em;
}

.landing-page .innerpage .content .text .logo .logo-img {
  width: 50%;
}

.landing-page .innerpage .content .text h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 1em;
}

.landing-page .innerpage .content .text h1 i {
  font-size: 2rem;
}

.landing-page .innerpage .content .text p {
  font-size: 1.2rem;
  line-height: 1.5em;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.landing-page .getstarted {
  background: transparent;
  border: 2px solid #5476b4;
  border-radius: 10px;
  width: 30%;
  margin: 0 auto;
  margin-top: .5em;
  padding: .3em 1em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page .getstarted:hover {
  background-color: #7f5a83;
  padding: .5em 1.3em;
  color: black;
}

.landing-page .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  gap: .2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .logo .logo-img {
  width: 20%;
}

.landing-page .logo .logoname {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 700;
}

@media only screen and (max-device-width: 768px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=landingpage.css.map */