* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full-page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7f5a83;
  background-image: linear-gradient(300deg, #7f5a83 40%, #0d324d 74%);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.input-group-login input {
  color: white;
  font-size: 15px;
}

.form-box {
  width: 380px;
  position: relative;
  padding: 1em;
  border-radius: 10px;
  margin: 2% auto;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.input-field {
  width: 100%;
  padding: 10px 0;
  border: 3px solid #999;
  border-bottom: 5px solid white;
  margin: 1em 0;
  outline: none;
  border-radius: 10px;
  padding: .3em 1em;
  background: transparent;
}

.submit-btn {
  width: 100%;
  padding: .5em 30px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  border: 0;
  border: 3px solid #7f5a83;
  outline: none;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.submit-btn:hover {
  background-color: #7f5a83;
  padding: .7em 35px;
}

.switch-box {
  width: 250px;
  margin: 20px auto;
  position: relative;
  -webkit-box-shadow: 0 0 20px 9px #05273f34;
          box-shadow: 0 0 20px 9px #05273f34;
  border-radius: 30px;
}

.toggle-btn {
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  margin-left: 10px;
}

.toggle-btn:hover {
  background-color: #712d79;
  opacity: .9;
  border-radius: 30px;
  padding: 5px 30px;
}

#btn {
  top: 0;
  position: absolute;
  width: 125px;
  height: 100%;
  background: #7f5a83;
  border-radius: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

span {
  color: white;
  font-size: 12px;
}

#register {
  left: 450px;
}

#register input {
  color: white;
  font-size: 15;
}

.conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conditions input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.google {
  width: 100%;
  border: 1px solid #7f5a83;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: .3em;
}

.google:hover {
  background-color: #7f5a83;
  border: 3px solid rgba(0, 0, 0, 0.5);
  padding: .5em;
}

.forgot-password {
  width: 50%;
  padding: .3em 10px;
  cursor: pointer;
  margin-block: 10px;
  border: 3px solid #0d324d;
  outline: none;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.forgot-password:hover {
  padding: .5em 15px;
  background-color: #7f5a83;
}

.password-reset {
  font-size: 1.5rem;
  font-family: cursive;
  margin-bottom: .5em;
}

.email input {
  outline: none;
}

@media only screen and (max-device-width: 768px) {
  .full-page {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=Authentication.css.map */