@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.todolist {
    display: flex;
    gap:1em;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.todolists {
    background-color: white;
    display: flex;
        justify-content: space-between;
        align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 5px;
    
}

.todo-items {
    padding: 1em 3em;
    display: flex;
        justify-content: space-between;
        align-items: center;
            width: 83vw;
}
.todo-items:hover {
    padding: 1em 2.5em;
    border: 3px solid #0d324d;
}
.newlists {
    width: 70vw;
            padding: 1em 3em;
}
#checkbox {
    display: inline;
    width: auto;
}
.check {
    opacity: .5;
}
.TodoList {
    background-color: #7f5a83;
        background-image: linear-gradient(300deg, #7f5a83 40%, #0d324d 74%);
        height: 100vh;
        padding-block: 2em;
}
.inner-todo {
    width: 90%;
    margin: 0 auto;
    background-color: #b1bfd8;
        background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    border-radius: 20px;
    padding: 1em 2em;
    height: 100%;
    overflow-y: scroll;
}
.inner-todo::-webkit-scrollbar {
     display: none;
}
.task-input {
    width: 50%;
    align-content: center;
    padding: 10px 0;
    border: 2px solid rgb(44, 38, 38);
    margin: 1em 0;
    outline: none;
    border-radius: 10px;
    padding: .3em 1em;
    background: transparent;
    color: rgb(44, 38, 38);
    margin-right: 1em;
}
.add-task {
    padding: .3em 1em;
    background-color: #7f5a83;
    color: rgb(44, 38, 38);
    border-radius: 10px;
}
.todo-item {
    border-radius: 10px;
    text-align: center;
    width:100%;
}


.add-task:hover {
    background-color: rgb(44, 38, 38);
    color: #6782b4;
    padding: .5em 1.2em;
}
.form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.welcome {
    color: rgb(44, 38, 38);
    letter-spacing: .2em;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;

}.completed {
    color: rgb(49, 160, 49);
}
.uncompleted {
    color: rgb(230, 7, 7);
}
.icons {
    display: flex;
    gap: 2em;
}
.logout {
    margin-top: 3em;
}
 .blur {
    filter: blur(5px); 
    position: relative;
} 

.fornone {
    display: none;
}
.foredit {
    position: absolute;
    width: 70vw;
    top: 50%;
    left: 15%;
    z-index: 5;
}
.editInput {
    width: 50vw;
    outline: none;

}
.cancel {
    color: black;
    font-size: 1.5em;
    position: absolute;
    margin-left: .5em;
    margin-top: .1em;
    cursor: pointer;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.list {
    position: relative;
    width: 20%;
    text-align: center;
}
.dim {
    opacity: .5;
  
    
}

.strike::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 103;
    background-color: black;

}

@media only screen and (max-device-width : 768px) {
    .full-todos {
       font-size: .5rem; 
    }
    
}